<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!-- Extending Contact Facet - BEGIN -->
    <model>
      <entities>
        <contact>
          <facets>
            <facet name="Registration Info" contract="JetStream.xDBExtensions.Contact.Facets.IContactRegistration, JetStream.xDBExtensions" />
          </facets>
        </contact>
      </entities>

      <elements>
        <element interface="JetStream.xDBExtensions.Contact.Facets.IContactRegistration, JetStream.xDBExtensions" implementation="JetStream.xDBExtensions.Contact.Facets.ContactRegistration, JetStream.xDBExtensions" />
        <element interface="JetStream.xDBExtensions.Contact.Elements.IReferral, JetStream.xDBExtensions" implementation="JetStream.xDBExtensions.Contact.Elements.Referral, JetStream.xDBExtensions" />
      </elements>
    </model>
    <!-- Extending Contact Facet - END -->

    <!-- Aggregation - Approach 1 - BEGIN -->
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{7D9C50E3-0524-4190-9681-F18362127705}" type="JetStream.xDBExtensions.Aggregation.Dimensions.ByReferralSource, JetStream.xDBExtensions"/>
        </dimensions>
      </aggregation>
    </experienceAnalytics>
    <!-- Aggregation - Approach 1 - END -->

    <!-- Aggregation - Approach 2 - BEGIN -->
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="JetStream.xDBExtensions.Aggregation.Pipelines.RegistrationReferralsProcessor, JetStream.xDBExtensions"
                       patch:before="*[@type='Sitecore.ExperienceAnalytics.Aggregation.Pipeline.SegmentProcessor, Sitecore.ExperienceAnalytics']"/>
          </interactions>
        </pipelines>
      </group>
    </pipelines>

    <aggregation>
      <!--
      <module type="Sitecore.Analytics.Aggregation.AggregationModule" singleInstance="true">
        <BackgroundServices hint="list:Add">
          <aggregator type="Sitecore.Analytics.Core.BackgroundService">
            <Interval>
              <patch:delete />
            </Interval>
            <Interval>0.00:02:00</Interval>
          </aggregator>
        </BackgroundServices>
      </module>
      -->

      <routines>
        <ExecRoutineStatementBuilder type="Sitecore.Analytics.Aggregation.Scripting.Builders.ExecRoutineStatementBuilder, Sitecore.Analytics.Sql" singleInstance="true">
          <mappings hint="list:AddMapping">
            <SqlMappingEntity type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>Fact_RegistrationReferrals</Table>
              <Routine>Add_RegistrationReferrals_Tvp</Routine>
              <IsMultiRow>True</IsMultiRow>
              <TableType>RegistrationReferrals_Type</TableType>
            </SqlMappingEntity>

            <SqlMappingEntity type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
              <Table>ReferralSources</Table>
              <Routine>Ensure_ReferralSources_Tvp</Routine>
              <IsMultiRow>True</IsMultiRow>
              <TableType>ReferralSources_Type</TableType>
            </SqlMappingEntity>
          </mappings>
        </ExecRoutineStatementBuilder>
      </routines>
    </aggregation>
    <!-- Aggregation - Approach 2 - END -->

  </sitecore>
</configuration>
